/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-dic-2019, 14:08:03
    Author     : Usuario
*/
            #video{
        margin-top: 10px;
        margin-right: 30px;
        float: left;
        width: 940px; 
        height:700px;
        volume: 20;

            }
            .img{
                width: 300px;
                height: 300px;
                padding-right: 20px;
		padding-bottom: 20px;
            }
            .p{
                text-align: center;
                font-size: 29px;
                color: white;
            }
            #p{
                text-align: left;
                font-size: 30px;
                color: white;
            }
            a{
                font-size: 30px; 
            }
            .div{
                border: 3px solid #000;
            }
            h1{
                text-align: center;
            }
            .limpiar{
                clear: both;
            }
            #cajacookies {
  box-shadow: 0px 0px 5px 5px #808080;    
  background-color: white;
  color: black;
  padding: 10px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

#cajacookies button {
  color: black;
}
body{
    background-color: #006983;
}
#menuh {
         font: 80% "Trebuchet MS", Arial, Helvetica, sans-serif;
         margin-top: 20px;
 }
 
 #menuh ul, li {
         list-style-type: none;
 }
 
 #menuh ul {
         margin: 0;
         padding: 0;
 }
 
 #menuh li {
         float: left;
 }
 
 #menuh a {
         text-decoration: none;
         color: #3366CC;
         background: #F0F7FC;
         display: block;
         padding: 3px 10px;
         text-align: center;
         border: 1px solid #ACCFE8;
         border-width: 1px 1px 1px 0;
 }
 
 
 #menuh a#primero {
         border-left: 1px solid #ACCFE8;
 }
 
 #menuh a:hover {
         background: #DBEBF6;
 }
#div{
	margin:auto;
	}
	#publicidadizq{
		width: 15%;
		float:left;
		overflow:hidden;
		display:block;
		}
	#publicidadderech{
		width: 15%;
		float:left;
		overflow:hidden;
		display:block;
		}
#divprincipal{
		width: 70%;
		float:left;
		overflow:hidden;
		display:block;
	}
	.imag{
		width: 100%;
		display:block;
		height: 900px;
		}
